<div *ngIf="loading">Chargement météo...</div>
<div *ngIf="error">{{ error }}</div>

<div *ngIf="weather">
  <div class="mf-weather-widget">
    <div class="mf-weather-icon">
      {{ weather.weather[0].main === 'Clear'? '🌤️':
         weather.weather[0].main === 'Clouds' ? '☁️' :
         weather.weather[0].main === 'Rain' ? '🌧️' :
         weather.weather[0].main === 'Sunny'? '☀️':
         '❓' }}
    </div>
    <div class="mf-weather-info">
      <h3>{{ weather.name }}, {{ weather.main.temp }}°C</h3>
      <p>{{ weather.weather[0].description }} • Humidité {{ weather.main.humidity }}%</p>
    </div>
  </div>
</div>
