<nav class="navbar navbar-expand-lg custom-navbar"> <!-- ✅ pas de bg-dark -->

  <div class="container-fluid">
    <a class="navbar-brand" href="#">OutfitMaker</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item"><a class="nav-link active" href="#">Accueil</a></li>
        <li class="nav-item"><a class="nav-link" href="#features">Fonctionnalités</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/history">Historique</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/about">À propos</a></li>
        <li class="nav-item user-icon">
          <a class="nav-link" href="/login" title="Se connecter">
            <i class="bi bi-person-circle"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
