.login-background {
  background: url('../../assets/dried.jpg') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.login-glass-card {
  background: rgba(112, 110, 110, 0.1);
  backdrop-filter: blur(15px);
  padding: 2.5rem;
  border-radius: 20px;
  width: 90%;
  max-width: 400px;
  color: white;
  text-align: center;
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
}

.email-input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  margin-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.email-input::placeholder {
  color: #ddd;
}

.code-inputs {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem 0;
}

.code-box {
  width: 40px;
  height: 50px;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.code-box:focus {
  outline: none;
  border: 2px solid #822f49;
}

button {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 30px;
  background-color: #822f49;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.message {
  color: #ffd6d6;
}

.success-message {
  color: #a4f9c8;
}
